body {
    font: 1.2em / 1.5 sans-serif;
}

/* h1{
    color: blue;
}

h2{
    background-color: blue;
    color: white;
}

span{
    font-size: 200%;
} */
/* 
#special{
    background-color: yellow;
}

.alert{
    border: 2px, solid, gray;
}

.alert.stop{
    background-color: red;
}

.alert.go{
    background-color: green;
} */

/* p:first-of-type{
    font-size: 150%;
}

p:first-of-type::first-line{
    color: red;
}

a:link{
    color:orange;
}

a:visited{
    color:green;
}

a:hover{
    text-decoration: none;
}

tr:nth-of-type(even){
    background-color: #333333;
    color: white;
} */

h2 + p{
    color: red;
}

.list{
    list-style-type: none;
}

.list>li{
    border: 1px, solid gray;
}